<h1>Foods</h1>

<div>
  <%= link_to("New Food", "/fridges/#{@fridge.id}/foods/new") %>
</div>
<ul>
    <% @foods.each do |food| %>
        <li>
            <a href="/foods/<%= food.id %>">
            <%= food.name %>
            </a>
        </li>
    <% end %>
</ul>
